<style>
    /*Merriweather*/
    @font-face {
        font-family: 'Merriweather Black';
        src: url({{ "../fonts/Merriweather-Black.tff" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Merriweather Black Italic';
        src: url({{ "../fonts/Merriweather-BlackItalic.tff" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Merriweather Bold';
        src: url({{ "../fonts/Merriweather-Bold.tff" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Merriweather Bold Italic';
        src: url({{ "../fonts/Merriweather-BoldItalic.tff" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Merriweather";
    }
</style>